Getting Started

    [[1]] Please download and install {{{http://www.oracle.com/technetwork/java/javase/downloads/index.html}Java Runtime Environment (JRE) or JDK version 1.6.0 or newer}} for 
          your specific platform and operating system.

    [[2]] Then {{{./download.html}Download Mpaxs}} and follow the installation instructions.

Installation Instructions
  
   Download the zip-release of Mpaxs and include the mpaxs-${project.version}.jar in the classpath of 
   your project. 

Demonstration
  
  Mpaxs includes a self-contained demo that may be run from the command line: 

+-------------------------------+
> java -jar mpaxs.jar
+-------------------------------+   

    This will print the available options for the demo:

+-------------------------------------------------------------------------+
usage: net.sf.mpaxs.spi.computeHost.StartUp [-m <mjobs>] [-n <nhosts>] [-r
       <runmode>]
 -m <mjobs>     Number of jobs to run in parallel
 -n <nhosts>    Number of hosts for parallel processing
 -r <runmode>   The mode in which to operate: one of
                <ALL,LOCAL,DISTRIBUTED>
+-------------------------------------------------------------------------+

    In order to run mpaxs demo with 100 jobs and 2 hosts, type in the following:

+-------------------------------------------------------------------------+
> java -jar mpaxs.jar -m 100 -n 2 -r ALL
+-------------------------------------------------------------------------+   

    Please note: mpaxs will try to launch new compute hosts using the drmaa api 
    by default. If no drmaa-compatible scheduling system, such as Globus, SGE/OGE,
    Torque, or PBS is installed on your system, mpaxs will automatically fall back 
    to launch the compute hosts on your local system. Thus, it is advisable to start
    the demo with <<<-n 1>>> if you use it for the first time.  